body {
	color: #333333;
	font-family: Arial;
	font-size: 20px;
	margin: 0;
}

a {
	color: #D9D9D9;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
}
#top, #content figcaption, #copyright {
	background-color: #333333;
}

#top {
	padding:10px;
	/*Flexbox*/
	display:flex;
	flex-flow: row;
	align-items: center; /*flex-start | center | flex-end */
	justify-content: flex-start; /*flex-start | center | flex-end | space-between | space-around */
}

#top h1{
	font-size:32px;
	margin:0;
}

#Menu {margin-left: auto}
 
#Menu ul {
	margin: 0;
	list-style:none;
	padding:0;
	overflow: hidden;
}

#Menu li {float: left}

#Menu ul li a {
	display: block;
	padding: 10px;
	text-align: center;
}

#Menu ul li a:hover {
	color: 333333;
	background-color: #D9D9D9;
}

#Menu ul li:nth-of-type(2) a {
	/*background-color: grey;*/
}

#content figure {margin:0}

#content figcaption {
	padding: 15px;
}

#content h2 {
	margin:0;
	font-size:36px;
	color: #FFFFFF;
	text-align: center;
}

#content img {
	display: block;
	width: 100%;
}

.noticia {
	padding: 10px; 	
	border-bottom: solid 1px #CCCCCC;
	overflow:hidden;
	margin: 0px 10px; /*como las agujas del reloj, arriba, a la derecha, abajo y a la izquierda; reconoce que
	el primer valor corresponde arriba y abajo, y el segundo derecha e izquierda */
}

.noticia-img, .noticia-txt {
	float:left;
	padding:10px;
	box-sizing: border-box; /*en caso de que compartan atributos se pueden poner los dos
	de esta forma */
}


.noticia-img {
	width: 30%;	
}

.noticia-txt {
	width: 70%;
}

.noticia-txt h3 {
	margin:10px 0;
	font-size: 24px;
}

#tabla-posiciones table {
	border: solid 1px #CCCCCC;
	border-collapse: collapse; /*el borde donde termina una celda y el borde donde empieza la siguiente 
	ocupada el mismo espacio */
	margin: auto;
	width: 600px;
}

#tabla-posiciones tr {
	 border-bottom: solid 1px #cccccc;
	}

#tabla-posiciones td, #tabla-posiciones th {
	padding: 10px;
	}	

#tabla-posiciones td:nth-of-type(odd) {
	font-weigth: bold;
	font-size: 32px;
	/*El argumento :nth-of-type() hace que se modifique valores especificos, en este caso solo los 
	valores impares de la tabla */
	text-align: center;
}

#tabla-posiciones strong {
	color: green;
}

#copyright p {
	color: #ffffff;
	margin:0;
	padding: 15px;
	text-align: center;
	font-size: 14px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	
	#Menu {
		display: none;
	}
}