body {
	color: #333333;
	font-family: Arial;
	font-size: 20px;
	margin: 0;
}

a {
	color: #D9D9D9;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
}

#top {
	background-color:#333333; 
	padding:10px;
	/*Flexbox*/
	display:flex;
	flex-flow: row;
	align-items: center; /*flex-start | center | flex-end */
	justify-content: flex-start; /*flex-start | center | flex-end | space-between | space-around */
}

#top h1{
	font-size:32px;
	margin:0;
}

#Menu {margin-left: auto}
 
#Menu ul {
	margin: 0;
	list-style:none;
	padding:0;
	overflow: hidden;
}

#Menu li {float: left}

#Menu ul li a {
	display: block;
	padding: 10px;
	text-align: center;
}

#Menu ul li a:hover {
	color: 333333;
	background-color: #D9D9D9;
}

#Menu ul li:nth-of-type(2) a {
	/*background-color: grey;*/
}

#content figure {margin:0}

#content figcaption {
	background-color: #333333;
	padding: 15px;
}

#content h2 {
	margin:0;
	font-size:36px;
	color: #FFFFFF;
	text-align: center;
}

#content img {
	display: block;
	width: 100%;
}

.noticia {
	padding: 0px; 	
	border-bottom: solid 1px #CCCCCC;
	display:flex;
	flex-flow: row;
	align-items: center; 
	justify-content:flex-start;
}

.noticia-img {
	padding: 20px;
	display: block;
	width: 40%;
}

.noticia-txt {display: block;
	padding: 25px;
	margin-bottom:15px;
	text-align: flex-start;
	}

.noticia-txt h3 {
	font-size: 32px;
	margin-bottom:0px;
}

.noticia-txt p {
	margin-top:5px;
	line-height: 30px;
}

.noticia-img2 {
	padding: 20px;
	display: block;
	width: 54%;
}

.noticia-img3 {
	padding: 20px;
	display: block;
	width: 38%;
}

.noticia-img4 {
	padding: 20px;
	display: block;
	width: 66%;
}


